.posts {
  $self: &;
  padding: 80px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }

  &_black {
    background-color: #131313;

    #{$self}__title {
      color: #ffffff;
    }
  }

}

@media screen and (max-width: 1200px) {

  .posts {
    $self: &;
    padding: 80px 0;
  
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
  
  }

}