.active-email {
  padding: 80px 0;

  &__wrapper {
    margin: 0 auto;
    max-width: 500px;
  }

  &__text {
    font-size: 18px;
    margin-top: 20px;
  }

  &__link {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #8aaae6;
    margin-left: 5px;
  }
}
